body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-image: url('asets/teahub.io-best-hd-abstract-wallpapers-2475597.jpg'); 
    background-size: cover;
    background-position: center;
    
}

#header {
    background-color: #333;
    color: white;
    padding: 15px;
}

#header h1 {
    margin: 0;
}

#header div {
    margin-top: 10px;
}

#colorDisplay {
    font-size: 2em;
    margin-top: 20px;
}

#gameContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.circle {
    width: 80px;
    height: 80px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
}
